---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me" description="More info about me">
  <p class="text-center">
    I'm a Frontend Web Developer with 6 years of experience. I have collaborated
    with a wide range of clients, from start-ups to larger companies. My areas
    of expertise include creating appealing styles, constructing layouts and
    components based on designs, and utilizing cutting-edge web development
    technologies. If you believe I can assist your business, please contact me.
  </p>
</Layout>
