---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import AppCards from "../components/AppCards.astro";
import appData from "../data/apps.json";
import laptop from "../assets/laptop.svg";

export interface Props {
  url: string;
  name: string;
  description: string;
}
---

<Layout title="Apps I Use" description="Some of the apps and tech I use">
  <Image
    class="banner-image"
    src={laptop}
    width={100}
    height={100}
    alt="person illustration for the home page"
  />
  <h2>A few apps and technologies I use:</h2>
  <ul class="app-card-list">
    {
      appData.map((appData) => {
        return (
          <AppCards
            name={appData.name}
            url={appData.url}
            description={appData.description}
          />
        );
      })
    }
  </ul>
</Layout>
