---
import Layout from '../layouts/Layout.astro';
---

<Layout title="This is built with Astro." subtitle="Astro is a modern web development framework for building high-performance websites and applications using JavaScript, HTML, and CSS. It allows developers to build web applications using familiar web technologies and tools, while also providing a powerful set of features for optimizing the performance and user experience of the resulting websites."  description="hey">
	<p>There are many web frameworks available for building web applications, including popular ones such as Django, Flask, Ruby on Rails, and Node.js, among others. These frameworks provide developers with tools and libraries to simplify the process of building web applications and typically include features such as routing, database integration, template rendering, and user authentication. If you have more specific information or context about the term "astro web framework," I may be able to provide more relevant information.</p>
</Layout>

<style>
	p{
		line-height: 1.5rem;
	}
</style>
