---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import SocialLinks from "../components/SocialLinks.astro";
import person from "../assets/person.svg";
import socialData from "../data/social.json";

---

<Layout
  title="John Doe"
  description="Software Engineer, Tech Enthusiast, and a lover of all things tech"
>
  
  <Image
    class="banner-image"
    src={person}
    width={100}
    height={100}
    alt="person illustration for the home page"
  />

  <ul class="app-card-list social-link-list">
    {
      socialData.map((socialData) => {
        return (
          <SocialLinks
            name={socialData.name}
            url={socialData.url}
            image={socialData.image}
          />
        );
      })
    }
  </ul>
  <h2>About:</h2>
  <p>
    As a software engineer, you are a highly skilled professional who is
    responsible for designing, developing, testing, and maintaining software
    applications. Your work involves understanding complex software systems,
    analyzing user requirements, and writing clean, efficient code that meets
    those requirements.
  </p>

  <p>
    In addition to your technical skills, you are also a highly analytical
    thinker who is able to solve complex problems and troubleshoot issues that
    arise during the software development process.
  </p>
  <p>- ChatGPT</p>
</Layout>

<style>
  .social-link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
</style>
