---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import SocialLinks from "../components/SocialLinks.astro";
import person from "../assets/person.svg";
import socialData from "../data/social.json";
---

<Layout
  title="John Doe"
  description="Software Engineer, Tech Enthusiast, and a lover of all things tech"
>
  <p>
    I'm a Frontend Web Developer with 6 years of experience. I have collaborated with a wide range of clients, from start-ups to larger companies. My areas of expertise include creating appealing styles, constructing layouts and components based on designs, and utilizing cutting-edge web development technologies. If you believe I can assist your business, please contact me.
  </p>



  <ul class="app-card-list social-link-list">
    {
      socialData.map((socialData) => {
        return (
          <SocialLinks
            name={socialData.name}
            url={socialData.url}
            image={socialData.image}
          />
        );
      })
    }
  </ul>
</Layout>

<style>
  .social-link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    
  }
  /*show all 4 in one row*/
  .social-link-list > li {
    flex: 1 1 25%;
  }
  p{
    font-size:1.5rem;
    line-height: 2.25rem;
  }
</style>
