---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import rocket from "../assets/rocket.svg";
import AppCards from "../components/AppCards.astro";
import repoData from "../data/repos.json";
export interface Props {
  repos: string;
  name: string;
  description: string;
}
---

<Layout title="Projects" description="Some of my projects">
  <Image
    class="project banner-image"
    src={rocket}
    width={100}
    height={100}
    alt="person illustration for the home page"
  />
  <h2>Featured Code Repos:</h2>
  <ul class="app-card-list">
  {
    repoData.map((repoData) => {
      return (
        <AppCards
          name={repoData.name}
          url={repoData.url}
          description={repoData.description}
        />
      );
    })
  }
  </ul>
</Layout>
