---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="footer">
  <footer>
    <p class="footer-text">
      Copyright &copy; <span>{title}</span>
      <span id="copyrightDate"></span> - All Rights Reserved
    </p>
  </footer>
</div>

<style>
  .footer-text {
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
    padding: 10px;
  }
</style>

<!--Set current year as the date for the footer -->
<!-- <script>
  var date = new Date();
  var year = date.getFullYear();
  document.getElementById("copyrightDate").innerHTML = year;
</script> -->
