---
const { name } = Astro.props;
---

<div class="person-wrapper">
  <!--Each item in the array should be on it's own li -->
  {
    name.map((name) => (
      <div class="person-card">
        <ul class="person-list">
          <li>Name: {name.name}</li>
          <li>Age: {name.age}</li>
          <li>Hobbies: {name.hobbies}</li>
        </ul>
      </div>
    ))
  }
</div>

<style>
  .person-wrapper {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .person-list {
    list-style: none;
  }
  .person-card {
    background: seashell;
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    flex-direction: column;
  }
</style>
