---
---

<nav class="navbar">
  <a href="/"><span>Home</span></a>
  <a href="/projects">Projects</a>
  <a href="/apps">Apps</a>
  <a href="/blog">Blog</a>
</nav>

<style>
  .navbar {
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .navbar a.active {
    color:#fff;
    border-bottom: 5px solid var(--secondary);
  }
  .navbar a {
    display: inline-block;
    font-size: 1.2em;
    margin: 0.15rem;
    font-weight: bold;
    padding: 6px 6px;
    text-decoration: none;
    color: #f5f5f5c7;
    transition: background-position 0.6s cubic-bezier(0.22,1,0.36,1);
  }
  .navbar a:hover {
    color: #fff;
    transition: color 0.3s;
  }

</style>

<!--Set active class on nav when the page is active -->
<script>
  const nav = document.querySelector(".navbar");
  const navLinks = nav.querySelectorAll("a");
  const currentURL = window.location.href;
  navLinks.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    }
  });
</script>
