---
---
<nav class="navbar">
  <a href="/">Astro</a>
  <a href="/test">Test</a>
  <a href="/hey/itsme">Itsme</a>
</nav>

<style>
  .navbar{
    margin-bottom:2rem;
  }
  .navbar a {
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  .navbar a:hover {
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
  }
  .navbar a.active{
    background: #fff;
    color: green;
  }
</style>

<!--Set active class on nav when the page is active -->
<script>
  const nav = document.querySelector('.navbar');
  const navLinks = nav.querySelectorAll('a');
  const currentURL = window.location.href;
  navLinks.forEach(link => {
    if (link.href === currentURL) {
      link.classList.add('active');
    }
  });
</script>