---
---

<nav class="navbar">
  <a href="/">Home</a>
  <a href="/projects">Projects</a>
  <a href="/apps">Apps</a>
</nav>

<style>
  .navbar {
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .navbar a {
    margin: 0.5rem;
    display: inline-block;
    font-size: 1.25rem;
    padding: 12px 24px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    transition: background-position 0.6s cubic-bezier(0.22,1,0.36,1);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
  }
  .navbar a:hover {
    background: rgba(0, 0, 0, 0.015);
    color: rgba(0, 0, 0, 0.95);
  }
  .navbar a.active {
    background: #fff;
    color: #000;
  }
</style>

<!--Set active class on nav when the page is active -->
<script>
  const nav = document.querySelector(".navbar");
  const navLinks = nav.querySelectorAll("a");
  const currentURL = window.location.href;
  navLinks.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    }
  });
</script>
