---
export interface Props {
  name: string;
  url: string;
  image: string;
}

const { name, url, image } = Astro.props;
---

<li class="social-card">
  <a href={url}>
    <img src={image} alt={name} />
    <h2 class="social-label">
      {name}
    </h2>
  </a>
</li>

<style>
  .social-label {
    margin-bottom: 0;

  }
  .social-card {
    text-align: center;
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 200px;
    padding: 0.25rem;
    background-color: white;
    background-image: none;
    background-size: 400%;
    border-radius: 0.6rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
  }

  .social-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1rem 1.3rem;
    border-radius: 0.35rem;
    color: #111;
    background-color: white;
    opacity: 0.8;
  }
  .social-card img {
    max-width: 60px;
  }
  .social-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .social-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent));
  }
</style>
