---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

//Import .env variables

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Nav />
    <main>
      <h1 class="page-title">{title}</h1>
      <slot />
    </main>
    <Footer title="John Doe" />
  </body>
</html>
<style is:global>
  :root {
    --accent: #E96479;
    --secondary: #4D455D;
    --accent-gradient: linear-gradient(
      45deg,
      var(--accent),
      var(--secondary),
      white 60%
    );
    --highlight: blue;
    --border-radius: 0.4rem;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #F5E9CF;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  p {
    line-height: 1.65rem;
  }
  .app-card-list{
    padding-left:0;
  }
  .app-card-list li{
    flex:1;
    flex-basis: 30%;
    margin:.5rem;
  }
  .banner-image{
    display: block;
    max-width:100px;
    margin: 2rem auto;
  }
  .page-title {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
  }
  .description{
    text-align: center;
  }
  body {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  h1, h2, h3, h4, h5{
    color: rgba(0,0,0,0.85);
  }
  .spotify-recently-played{
    background:#fff;
    border-radius: var(--border-radius);
    padding:6px;
  }
  .spotify-recently-played li{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    padding: .5rem;

  }
  .spotify-recently-played img{
    max-height:150px;
    width: auto;
    border-radius: var(--border-radius);
  }
  .spotify-recently-played .track-info  p{
    margin: 0;
    line-height: 1.5rem;

  }
  .spotify-recently-played .track-info{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .spotify-recently-played .track-info .track-name{
    font-weight: bold;
    font-size:1.1rem;
  }
  @-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 8px solid var(--accent);
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}
</style>
